body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f3f3f3;
}

#carForm input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 250px;
}

.box{
    border-radius: 20px;;
}

button {
  padding: 10px;
  background: #008cff;
  color: white;
  border: none;
  cursor: pointer;
}

.car-card {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 280px;
  margin: 10px 0;
}

.car-card img {
  width: 100%;
  height: auto;
}
